.my_icons_nav_color {
    color: #5b5858;
}

.my_icons_color {
    color: white;
}

.my_bell_color {
    color: #ff8f00;
}

.my_img_size {
    width: 46px;
    height: 46px;
}

.my_aside_bg {
    background-image: url(img/sidebar-bg.png);
    background-color: #051e34;
}

.my_breadcrumbs {
    background-color: #165bba;
}

.card-box {
    width: calc(100% - 32px);
}

main::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 767px){
    .my_flex {
        flex-direction: column;
    }
    
    .my_card_box {
        width: calc(100% - 10px);
    }

    .my_low_card {
        width: calc(100% + 22px);
    }    
}

@media screen and (max-width: 992px){

    .my_section_size {
        height: calc(100vh - 62px);
    }

    .my_aside_size {
        width: 60px;
    }
    
        .my_padding {
            padding-right: 20px;
        }
    
}

@media screen and (min-width: 992px){

    .my_section_size {
        height: calc(100vh - 54px);
    }

    .my_aside_size {
        width: 170px;
    }

    .my_padding {
        padding-right: 90px;
    }

}

/*TEST*/
.container {
    border: 1px solid black;
}

